<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4>Timberline Handcrafted Ice Cream & Candy</h4>
                <p>HANDCRAFTED, SMALL-BATCH, SUPER-PREMIUM</p>
                <p>MADE IN FLAGSTAFF, ARIZONA</p>
            </div>
            <div class="col-md-4">
                <h4>Where to find us</h4>
                <address>
                    <p>2710 N Steves Blvd, Ste 26<br>
                    Flagstaff, Arizona 86004</p>
                    <p>Email: <a href="mailto:sales@TICflagstaff.com">sales@TICflagstaff.com</a></p>
                </address>
            </div>
            <div class="col-md-4">
                <h4>Hours</h4>
                <ul class="list-unstyled">
                    <li>Monday: Closed</li>
                    <li>Tuesday: Closed</li>
                    <li>Wednesday - Friday: 2 - 8pm</li>
                    <li>Saturday & Sunday: 12 - 8pm</li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col text-center">
                <p>Copyright 2024. Timberline Handcrafted Ice Cream and Candy. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>

{{ if not .IsHome }}
<a href="#top" id="backToTop" class="btn-ice-cream" style="position: fixed; bottom: 20px; right: 20px; z-index: 99;">
    <i class="fas fa-arrow-up"></i>
</a>
{{ end }} 